/* .eightball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.eightball-text {
  text-align: center;
}

.eightball-answer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
} */

.Eightball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}